---

layout: default
title: Collaborations

---

{% include title.html data=site.data.collaborations.title %}

{% for area in site.data.collaborations.areas %}
<h1 class="area-title">{{area.title}}</h1>
<div id="collaborations" class="sponsor-cards">
{% for sponsor in area.sponsors %}
<div class="card left-image primary">
	{% if sponsor.height %}
		{% assign h=sponsor.height %}
	{% else %}
		{% assign h="10rem" %}
	{% endif %}
	<div class="card-image" style="--img_height: {{h}}">
        	<img src="{{site.url}}/img/collaborations/{{sponsor.logo}}" width=auto />
        </div>
        <div class="card-content">
        <div class="card-title"> <h2><a href={{sponsor.url}}>{{sponsor.name}}</a></h2> </div>
        </div>
</div>
{% endfor %}
</div>
{% endfor %}
