---

layout: default
title: Organizing Committee

---

{% include title.html data=site.data.organizing-committee.title %}


<div id="organizing-committee" class="masonry-cards">
  {% for person in site.data.organizing-committee.people %}
<div>
  <div class="card left-image primary">
      <div class="card-image">
        <img src="{{site.url}}/img/organizing-committee/{{person.img}}" />
      </div>
      <div class="card-content">
        <div class="card-title">
          <h2>{{person.name}}</h2>
        </div>
        <div class="bio">
          {{person.bio}}
        </div>
      </div>
  </div>
</div>

  {% endfor %}
</div>
