---

layout: default
title: Speakers

---

{% include title.html data=site.data.speakers.title %}


<div id="speakers" class="row">
  {% for real_speaker in site.data.speakers.speakers %}
  {% if real_speaker.locked %}
    {% assign speaker = site.data.speakers.locked %}
    {% assign class = "col l5 m5 s15 locked" %}
  {% else %}
    {% assign speaker = real_speaker %}
    {% assign class = "col l5 m5 s15" %}
  {% endif %}
  <div class="{{class}}">
    <div class="card ripple horizontal circle-image secondary expandable">
    <div class="card-header">
      <div class="card-image">
        <img src="{{site.url}}/img/{{speaker.img}}" />
      </div>
      <div class="card-title">
        <h2>{{speaker.name}}</h2>
        <div class="card-subtitle roboto">{{speaker.uni}}</div>
      </div>
      <div class="card-action-top">
        <i class="material-symbols-outlined">more_vert</i>
      </div>
    </div>
    <div class="card-content">
      <div class="speaker-date"><i class="material-symbols-outlined">calendar_month</i><span>{{speaker.date}}</span></div>
      <div class="speaker-title">{{speaker.topic}}</div>
      <div class="speaker-abstract reveal">{{speaker.abstract}}</div>
      <div class="speaker-biography reveal">{{speaker.biography}}</div>

    </div>
  </div>

  </div>


  {% endfor %}
</div>
