---

layout: default
title: Workshops

---

{% include title.html data=site.data.workshops.title %}

<div id="locations" class="location-cards">
{% for lab in site.data.workshops.labs %}
<div class="card primary">
	<div class="card-header">
		<div class="row">
<!--			<div class="col l2 s12">
				<div class="card-image">
        				<img src="{{site.url}}/img/labs/{{lab.image}}" />
        			</div>	
    			</div>
-->    		
    			<div class="col l13 s12">
        			<div class="card-lab-title"> <h2>{{lab.name}}</h2> </div>        	
        		</div>
        	</div>
        </div>

        <div class="card-content container text-section">
        	<p> {{lab.description}} </p>
	</div>
</div>
{% endfor %}
</div>
