<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">

<footer id="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l5 s12">
				<h1 class="footer-title">Contact</h1>
				<div class="footer-icon">
						<a href="mailto:preplancks23@ai-sf.it"> 
							<img src="{{site.url}}/img/icons/email_icon.png"/>
						</a> 
						<a class=footer-text href="mailto:preplancks23@ai-sf.it"> PrePLANCKS </a>
				</div>
			</div>
			<div class="col l4 s12">
				<h1 class="footer-title">Connect</h1>
				<ul>
				<li>
					<div class="footer-icon">
						<a href="https://www.instagram.com/plancks23/"> 
							<img src="{{site.url}}/img/icons/instagram_icon.png"/>
						</a> 
						<a class=footer-text href="https://www.instagram.com/plancks23/"> @plancks23 </a>
					</div>
				</li>
				<li>
					<div class="footer-icon">
						<a href="https://www.instagram.com/plancks23/"> 
							<img src="{{site.url}}/img/icons/web_icon.png"/>
						</a> 
						<a class=footer-text href="https://www.ai-sf.it/"> www.ai-sf.it </a>
					</div>
				</li>
				<li>
					<div class="footer-icon">
						<a href="https://www.instagram.com/plancks23/"> 
							<img src="{{site.url}}/img/icons/web_icon.png"/>
						</a> 
						<a class=footer-text href="https://iaps.info/"> www.iaps.info </a>
					</div>
				</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
