<footer id="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l7 s12 footer-text">
			<div class="row">
				<div class="col l5 s12 footer-logo"><img src="{{site.url}}/img/ai-sf.png"/></div>
				<div class="col l7 s12 footer-column">Associazione Italiana Studenti di Fisica</div>
			</div>
			<div class="row">
				<div class="col l5 s12 footer-logo"><img src="{{site.url}}/img/iaps.png"/></div>
				<div class="col l7 s12 footer-column">International Association of Physics Students</div>
			</div>
			<div class="row">
				<div class="col l5 s12 footer-logo"><img src="{{site.url}}/img/ai-sf_mi.jpg"/></div>
				<div class="col l7 s12 footer-column">AISF Local Committee (University of Milan)</div>
			</div>
			</div>
			<div class="col l3 s12">
				<h1 class="footer-title">Contact</h1>
				<ul>
					<li><a href="mailto:preplancks23@ai-sf.it" class="footer-text">PrePLANCKS</a></li>
					<li><a href="mailto:plancks23@ai-sf.it" class="footer-text">PLANCKS23</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h1 class="footer-title">Connect</h1>
				<ul>
					<li><a href="https://www.instagram.com/plancks23/" class="footer-text">Instagram (@plancks23)</a></li>
					<li><a href="https://ai-sf.it/" class="footer-text">AISF Website</a></li>
					<li><a href="https://iaps.info/" class="footer-text">IAPS Website</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
