<form action="{{include.form.action}}" method="post">
  {% for row in include.form.fields %}
<div class="row fields-row">
  {% for field in row.row %}
    {% if field.section_title %}
    <div class="row">
     <h1 class="area-title">{{field.section_title}}</h1>
    </div>
    {% endif %}
    {% if field.text_section %}
    <div class="row form-text-section">
     <p>{{field.text_section}}</p>
    </div>
    {% endif %}
   <div class="col  {{field.size}}">
    {% if field.fields %}
      {% if field.label %} <p class="field-info">{{field.label}}</p> {% endif %}
      {% for subfield in field.fields %}
        {% include field.html data=subfield %}
      {% endfor %}
    {% else %}
      {% include field.html data=field %}
    {% endif %}
   </div>

  {% endfor %}
</div>

  {% endfor %}

    <div class="form-field form-submit row">
      <input type="submit" class="btn ripple" value="{{include.form.submit}}"/>
    </div>



</form>
