<form action="{{include.form.action}}" method="post">
  {% for row in include.form.fields %}
<div class="row fields-row">
  {% for field in row.row %}
   <div class="col top-align {{field.size}}">
    {% if field.fields %}
      {% for subfield in field.fields %}
        {% include field.html data=subfield %}
      {% endfor %}
    {% else %}
      {% include field.html data=field %}
    {% endif %}
   </div>

  {% endfor %}
</div>

  {% endfor %}
  <div class="form-field form-submit">
    <input type="submit" class="btn ripple" value="{{include.form.submit}}"/>
  </div>

</form>